

.accueil-container {
  margin: 0 auto;
  padding: 20px;
  width: 99%;
  height: 99%;
  background-color: #fff3f3;
}

.main-title {
  font-size: 14px;
  margin-bottom: 2px;
  font-family: 'Courier New', Courier, monospace;
  color: #000000;
}

.detail-linkk{
 
  padding: 5%;
  border-radius: 3%;
  width: 100%;
}

.produits-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Utilisez auto-fill */
  gap: 0px;
  padding: 1%;
  justify-content: center; /* Centrer les colonnes horizontalement */
  background-color: rgb(255, 255, 255);
  margin-bottom: 2%;
}
.devise{
  font-size: 10px;
  color: #425740;
  text-decoration: solid;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.produit-card {
  
  padding: 1px;
  border-radius: 5px;
 
 
  transition: transform 0.3s;
  background-color: #dddddd;

}


.produit-info {
  max-height: 70%;

}

.produit-info h3 {
  font-size: 18px;
  margin-bottom: 10px;
  max-height: 50%;

}
.product-title{
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: -1%;
  color: #555;
}
.product-description{
  margin-top: -5%;
}
.produit-info p {
  font-size: 10px;
  margin-bottom: 10px;
  max-height: 50%;
}

.prix {
  font-weight: bold;
  color: #e44d26; /* You can change this color based on your design */
}


.product-pricee_old {
  color: rgb(203, 41, 41);
  font-size: 0.5em;
  width: min-content;
  text-decoration: line-through;
  margin-top: -50%;
}
.productpricenew {
  color: rgb(1, 46, 12);
  margin-bottom: -2%;
  font-weight: bolder;
  font-size: 15px;
  text-align: start;
}
/* accueil.css */

.produit-card img {
  width: 100%;
  height: 320px; /* Ajustez la hauteur selon vos besoins */
  object-fit: cover; /* Ajuste l'image pour couvrir l'intégralité du conteneur tout en préservant les proportions */
  margin-bottom: 1px;
  border-radius: 3%;
  padding: 1%;
}

.produit-info {
  padding: 3px;
  text-align: justify;
  background-color: rgb(241, 240, 240); /* Set a background color for the product info container */
}


.produit-card {
 
  border-radius: 8px;


  background-color: #ffffff;
  padding: 1%;
}









/* Add some basic styling to the navigation bar */


/* styles.css */

.pub {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.navpub {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  height: max-content;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.navpub:hover {
  transform: translateY(5px);
}

.imgpub {
  width: 250px;
  height: max-content;
  height: auto;
  border-radius: 8px;
}

.descriptionpub {
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
  color: #555;
}

/* Styles communs à toutes les tailles d'écran */
.accueil-container {
  max-width: 12000px;
  max-height: 12000px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.livraison{
  text-align: end;
  color: rgb(6, 154, 18);
  font-size: 12px;
}

/* Styles pour les écrans de taille moyenne (par exemple, tablettes) */


/* Styles pour les écrans de petite taille (par exemple, smartphones) */

@media only screen and (max-width: 733px) {
  .produits-container {
    
   
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr)); /* Utilisez auto-fill */
    
  }
  .produit-card {
    
    padding: 1px;
    border-radius: 5px;
   
    transition: transform 0.3s;
   
   
  }
  .produit-card img {
    width: 100%;
    height: 220px; /* Ajustez la hauteur selon vos besoins */
    object-fit: cover; /* Ajuste l'image pour couvrir l'intégralité du conteneur tout en préservant les proportions */
    margin-bottom: 1px;
    border-radius: 3%;
    padding: 0%;
  }

  .produit-info h3 {
    font-size: 18px;
    margin-bottom: 10px;
    max-height: 50%;
  
  }
  .product-title{
    font-family: 'Times New Roman', Times, serif;
    
    color: #555;
    font-size: 10px;
    text-align: start;
  }
  .product-pricee_old {
    color: rgb(203, 41, 41);
    font-size: 0.5em;
    width: min-content;
    text-decoration: line-through;
  }
  .productpricenew {
   
    font: optional;
    font-weight: bold;
    font-size: 12px;
   
  }
  .star-filled{
    font-size: 10px;
    margin-top: 2%;
  }
  .livraison{
    text-align: end;
    color: rgb(6, 154, 18);
    font-size: 8px;
  }
}

/* Ajoutez d'autres media queries selon les besoins pour les écrans plus petits ou plus grands */












